server:
  port: 8761
spring:
  application:
    name: EurekaServer
eureka:
  instance:
    hostname: peer1
  client:
    service-url:
      defaultZone:
        http://peer1:8761/eureka/,http://peer2:8762/eureka/,http://peer3:8763/eureka/